body {
  background: #ffb3b3;
  text-align: center;
}
h1 {
  font-family: 'Syne Mono', monospace;
  font-size: 50px;
}

img {
  width: 700px;
  height: auto;
}
.row {
  display: flex;
  justify-content: center;
}
.Insta button {
  font-family: 'Syne Mono', monospace;
  border-radius: 20px;
    font-size: x-large;
  background: #FFF0F5;
    border-color: #bd9bbb;
  margin: 5px;
  padding: 40px
}
.Steam button {
  font-family: 'Syne Mono', monospace;
  border-radius: 20px;
    font-size: x-large;
  background: #FFF0F5;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 40px
}
.Art button {
  font-family: 'Syne Mono', monospace;
  border-radius: 20px;
    font-size: x-large;
  background: #FFF0F5;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 40px
    
}
.Job button {
  font-family: 'Syne Mono', monospace;
  border-radius: 20px;
    font-size: x-large;
  background: #FFF0F5;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 40px
}
.Youtube button {
  font-family: 'Syne Mono', monospace;
  border-radius: 20px;
  font-size: x-large;
    
  background: #FFF0F5;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 40px
}

.img3 img {
  height: auto;
    border-radius: 10%;
  box-shadow: 2px 2px 2px 2px;
}

nav{
  display: flex;
  justify-content: space-evenly;
  
}
a {
    margin: 60px;
}
.row {
  margin-bottom: 70px;
}

footer {
  font-family: 'Raleway', sans-serif;
}