body {
  background: #fdcece;
  text-align: center;
}
h1 {
  font-family: 'Mulish', sans-serif;
}

img {
  width: 100%;
  max-width: 1000px;
}
/* Note to Jacy: this piece of code is to align the pieces of artwork together into one column*/
.row {
  display: flex;
  justify-content: center;
}
.Insta button {
  font-family: 'Cookie', cursive;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
  margin: 24px;
  padding: 24px
}
.Steam button {
  font-family: 'Cookie', cursive;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 24px;
  padding: 24px
}
.Art button {
  font-family: 'Cookie', cursive;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 24px;
  padding: 24px
}
.Job button {
  font-family: 'Cookie', cursive;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 24px;
  padding: 24px
}
.Youtube button {
  font-family: 'Cookie', cursive;
  font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 24px;
  padding: 24px
}
/**/
/*.img1 {
  width: 400px;
  height: 400px;
}
.img2 {
  width: 413px;
  height: 400px;
}
.img3 {
  width: 380px;
  height: 400px;
}
.img4 {
  width: 725px;
  height: 400px;
}
*/
nav{
  display: flex;
  justify-content: space-evenly;
  
}
a {
    margin: 60px;
}
.row {
  margin-bottom: 70px;
}

footer {
  font-family: 'Raleway', sans-serif;
}