body {
  background: #ffeeee;
  text-align: center;
}
h1 {
  font-family: 'Mulish', sans-serif;
}

img {
  width: 700px;
  height: auto;
}
.row {
  display: flex;
  justify-content: center;
}
.Insta button {
  font-family: 'Cookie', cursive;
  border-radius: 12px;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
  margin: 5px;
  padding: 24px
}
.Steam button {
  font-family: 'Cookie', cursive;
  border-radius: 12px;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 24px
}
.Art button {
  font-family: 'Cookie', cursive;
  border-radius: 12px;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 24px
    
}
.Job button {
  font-family: 'Cookie', cursive;
  border-radius: 12px;
    font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 24px
}
.Youtube button {
  font-family: 'Cookie', cursive;
  border-radius: 12px;
  font-size: x-large;
      color: #000000;
    border-color: #bd9bbb;
    margin: 5px;
  padding: 24px
}

.img1 {
  width: 200px;
  height: auto;
}
.img2 {
  width: 200px;
  height: auto;
}
.img3 {
 width: 200px;
  height: auto;
}
.img4 {
 width: 200px;
  height: auto;
}
nav{
  display: flex;
  justify-content: space-evenly;
  
}
a {
    margin: 60px;
}
.row {
  margin-bottom: 70px;
}

footer {
  font-family: 'Raleway', sans-serif;
}